@media (max-width: 750px) {
    .testimonials {
        flex-direction: column;
    }
}

body {
    background: url(../Imgs/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #21204b;
}

.welc {
    padding-top: 20px;
    padding-bottom: 10vh;
    color:  #e20000;
}

.links > .navspace > a {
    color: #e20000;
}

.dropdown .dropbtn {
    color: #e20000;
}

.testimonials {
    display: flex;
    margin-bottom: 10vh;
    width: 99vw;
}

.container {
    width: 50%;
}

.testimonial {
    width: 95%;
    color: white;
    margin-bottom: 60px;
    font-size: large;
}